@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";

*{
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  header{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    @import "partials/nav";

    nav{
      height: 46px;

      .nav-bar{
        @include outer-container;
      }

      }
    }
  }

  main{
    @include outer-container;

    .sidebar{
      @include span-columns(3 of 12);
      float: left;
    }

    #primary{
      @include span-columns(6 of 12);

      .timeline{

        .tweet-box{
          background-color: #E5F2F7;
          padding: 10px 12px;
          border-top: 1px solid #BFE0EC;
          border-right: 1px solid #BFE0EC;
          border-left: 1px solid #BFE0EC;
          border-radius: 3px 3px 0 0;

          .tweet-form{

            input{
              font-size: 14px;
              width: 100%;
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }
}
